<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DSharpPlus Nightlies" value="https://nuget.emzi0767.com/api/v3/index.json" />
    <add key="DiscUtils Nightlies" value="https://www.myget.org/F/discutils/api/v3/index.json" />
  </packageSources>
  <trustedSigners>
    <author name="Microsoft">
      <certificate fingerprint="3F9001EA83C560D712C24CF213C3D312CB3BFF51EE89435D3430BD06B5D0EECE" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <certificate fingerprint="AA12DA22A49BCE7D5C1AE64CC1F3D892F150DA76140F210ABD2CBFFCA2C18A27" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>