[Unit]
Description=RPCS3 bot as a service
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/<USER>/git/discord-bot/CompatBot
ExecStart=/usr/bin/dotnet run -c Release CompatBot.csproj
Restart=always
KillSignal=SIGINT
SyslogIdentifier=dotnet-rpcs3bot
User=rpcs3bot
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=RUNNING_UNDER_SYSTEMD=true

[Install]
WantedBy=multi-user.target